---

---

<article class="mb-20 flex md:flex-row flex-col gap-x-4 md:gap-x-8 items-center justify-between">
    <div class="flex flex-col gap-y-3 text-pretty text-sm md:text-base text-gray-200">
        <p>
            Two years ago, I started <strong>BASO Project</strong> with my high school team, and we were able to develop some important technology projects such as <strong>CanSat Project</strong>, the competition organized by the <strong>ESA</strong>, which gives an opportunity to <strong>young students</strong> to start in the tech world.
        </p>
        <p>
            At the same time I was <strong>learning</strong> Front-end Development, my team and I were <strong>building the CanSat</strong>, we did a lot of work to make it <strong>become real</strong>, many tests and reports that we <strong>delivered</strong> to the ESA to confirm our participation and for other reasons.
        </p>
        <p>
            Right now, I am <strong>expanding my knowledge</strong> to new technologies and languages through out Front-end development mainly, even so, I am open to learn Back-end as <strong>my final goal</strong> is to be a Full Stack developer.
        </p>
    </div>

    <img class="md:w-52 w-44 aspect-square object-cover object-[100%_5%] mt-6 md:mt-0" src="./dmoreno.jpeg" alt="David Moreno Cámara">
</article>

<style>
    img {
        border: 3px ridge #63e;
        border-radius: 0.5rem;
    }

    strong {
        color: #D8B4FE;
    }
</style>