---

---

<article class="mb-20 flex md:flex-row flex-col gap-x-4 md:gap-x-8 items-center justify-between">
    <div class="flex flex-col gap-y-3 text-pretty text-sm md:text-base text-gray-200">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia totam nesciunt distinctio eaque, illum atque quod. Et sunt doloremque illum maiores officiis! Incidunt quisquam quo veniam quasi itaque fuga aliquid?
        </p>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores assumenda dolores quidem at, nulla officiis? Quidem facere facilis molestiae illo hic dolores, rerum alias qui voluptate. Neque atque eaque consectetur.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, assumenda, ea natus atque voluptatem eum eius nisi temporibus dolorum expedita voluptas fugiat neque in reiciendis eos asperiores quae debitis enim.
        </p>
    </div>

    <img class="w-52 aspect-square object-cover object-[100%_5%] mt-6 md:mt-0" src="./dmoreno.jpeg" alt="David Moreno Cámara">
</article>

<style>
    img {
        border: 3px ridge #63e;
        border-radius: 0.5rem;
    }
</style>