---
import GithubIcon from "../icons/GithubIcon.astro"
import LinkedInIcon from "../icons/LinkedInIcon.astro"
---

<footer class="bg-black/80 w-full px-4 py-6">
    <div class="w-full mx-auto md:w-[740px] md:flex md:items-center md:justify-between">
        <span class="font-medium">Made with 💜 by Dayv1d</span>
        <div class="md:mt-0 mt-2 flex gap-x-3">
            <a href="https://github.com/Dayv1dDev/portfolio" class="hover:text-purple-300 ease-in-out duration-200" target="_blank" rel="noopener noreferrer">
                <GithubIcon class="size-5" />
            </a>
            <a href="https://www.linkedin.com/in/Dayv1d" class="hover:text-purple-300 ease-in-out duration-200" target="_blank" rel="noopener noreferrer">
                <LinkedInIcon class="size-5" />
            </a>
        </div>
    </div>
</footer>