---
import AstroIcon from "../icons/AstroIcon.astro"
import ExpressJSIcon from "../icons/ExpressJSIcon.astro"
import FigmaIcon from "../icons/FigmaIcon.astro"
import GithubIcon from "../icons/GithubIcon.astro"
import GitIcon from "../icons/GitIcon.astro"
import JSIcon from "../icons/JSIcon.astro"
import MySQLIcon from "../icons/MySQLIcon.astro"
import NextJSIcon from "../icons/NextJSIcon.astro"
import NodeJSIcon from "../icons/NodeJSIcon.astro"
import PHPIcon from "../icons/PHPIcon.astro"
import ReactIcon from "../icons/ReactIcon.astro"
import TailwindIcon from "../icons/TailwindIcon.astro"
import TSIcon from "../icons/TSIcon.astro"

const TAGS = {
    JS: {
        name: "JavaScript",
        icon: JSIcon,
        link: "https://developer.mozilla.org/en-US/docs/Web/JavaScript",
        isLearning: false,
    },
    ASTRO: {
        name: "Astro",
        icon: AstroIcon,
        link: "https://astro.build/",
        isLearning: false,
    },
    REACT: {
        name: "React.js",
        icon: ReactIcon,
        link: "https://reactjs.org/",
        isLearning: false,
    },
    TAILWIND: {
        name: "Tailwind CSS",
        icon: TailwindIcon,
        link: "https://tailwindcss.com/",
        isLearning: false,
    },
    TYPESCRIPT: {
        name: "TypeScript",
        icon: TSIcon,
        link: "https://www.typescriptlang.org/",
        isLearning: true,
    },
    NEXTJS: {
        name: "Next.js",
        icon: NextJSIcon,
        link: "https://nextjs.org/",
        isLearning: true,
    },
    MYSQL: {
        name: "MySQL",
        icon: MySQLIcon,
        link: "https://www.mysql.com/",
        isLearning: false,
    },
    PHP: {
        name: "PHP",
        icon: PHPIcon,
        link: "https://www.php.net/",
        isLearning: false,
    },
    NODEJS: {
        name: "Node.js",
        icon: NodeJSIcon,
        link: "https://nodejs.org/",
        isLearning: false,
    },
    EXPRESSJS: {
        name: "Express.js",
        icon: ExpressJSIcon,
        link: "https://expressjs.com/",
        isLearning: false,
    },
    GITHUB: {
        name: "Github",
        icon: GithubIcon,
        link: "https://github.com/",
        isLearning: false,
    },
    GIT: {
        name: "Git",
        icon: GitIcon,
        link: "https://git-scm.com/",
        isLearning: false,
    },
    FIGMA: {
        name: "Figma",
        icon: FigmaIcon,
        link: "https://www.figma.com/",
        isLearning: false,
    }
}

const STACKS = [
    {
        title: "Front-end",
        description: "Languages, frameworks and libraries that I use to create the user interface in my websites.",
        tags: [TAGS.JS, TAGS.ASTRO, TAGS.TAILWIND, TAGS.REACT, TAGS.TYPESCRIPT, TAGS.NEXTJS],
    },
    {
        title: "Back-end",
        description: "Databases, languages and frameworks that I use in the server side of my websites.",
        tags: [TAGS.MYSQL, TAGS.PHP, TAGS.NODEJS, TAGS.EXPRESSJS],
    },
    {
        title: "Software",
        description: "Tools that I use to make my work easier, more efficient and more professional.",
        tags: [TAGS.GITHUB, TAGS.GIT, TAGS.FIGMA],
    },
]
---

<div id="stack" class="grid grid-cols-1 gap-x-3 gap-y-3 mx-1 md:mx-0">
    {
        STACKS.map(({ title, description, tags }) => (
            <article class="w-full rounded-lg p-4">
                <h3 class="md:text-xl text-lg text-purple-300 font-medium mb-1">{title}</h3>
                <p class="md:text-base text-sm text-wrap text-gray-200">{description}</p>
                <div class="grid grid-cols-1 gap-2 mt-4">
                {tags.map(tag =>(
                    <a href={tag.link} class={`inline-flex items-center justify-between p-3 rounded-lg duration-150 text-xs font-semibold`} target="_blank" rel="noopener noreferrer">
                        <div class="flex gap-x-[6px]">
                            <tag.icon class="size-6" />
                            <span class="text-base">
                                {tag.name}
                            </span>
                        </div>
                        {tag.isLearning && (
                        <span class="text-xs bg-blue-200 text-blue-700 rounded-full px-2.5 py-[2px]">Learning</span>
                        )}
                    </a>
                ))}
                </div>
            </article>
        ))
    }
</div>

<style>
    article {
        background-color: hsl(0 0% 4%);
    }
    
    @media (min-width: 510px) {
        article:first-child > div {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        article:first-child {
            grid-column: span 2;
        }   

        #stack {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }

    a {
        background-color: hsl(0 0% 8%);
    }

    a:hover {
        background-color: hsl(0 0% 12%);
    }
</style>