---
import About from '@/components/sections/About.astro'
import Badge from '@/components/Badge.astro'
import Button from '@/components/Button.astro'
import Education from '@/components/sections/Education.astro'
import EmailIcon from '@/components/icons/EmailIcon.astro'
import Experience from '@/components/sections/Experience.astro'
import GithubIcon from '@/components/icons/GithubIcon.astro'
import Layout from '@/layouts/Layout.astro'
import LinkedInIcon from '@/components/icons/LinkedInIcon.astro'
import Projects from '@/components/sections/Projects.astro'
import Section from '@/components/Section.astro'
import SocialButton from '@/components/SocialButton.astro'
import Stack from '@/components/sections/Stack.astro'
---

<Layout 
	title="David Moreno Cámara - Front-End Developer and Programmer"
	description="Web Developer. Very responsible, especialized in making solutions and creating unique websites."
>
	<main class="px-2">
		<!-- HERO -->
		<Section class="pt-40 pb-52">
			<h1 class="md:text-xl text-lg font-bold">
				Hello! I am
			</h1>
			<h1 class="flex flex-row text-balance place-items-center pb-3 md:text-4xl sm:text-3xl text-2xl leading-none font-bold gap-x-2 bg-clip-text text-transparent bg-gradient-to-r from-purple-400 to-[#eee]">
				David Moreno Cámara <a class="flex place-items-center sm:ml-2 sm:mt-1.5" href="https://www.linkedin.com/in/davmoreno" rel="noopener" target="_blank"><Badge>Available to work</Badge></a>
			</h1>
			<h2 class="lg:text-xl md:text-lg sm:text-base text-sm text-wrap max-w-2xl mb-5">
				I work as <span class="text-blue-400 font-semibold">Front-end Developer</span>, <span class="text-indigo-400 font-semibold">Programmer</span> and <span class="text-purple-300 font-semibold">Web Designer</span>. From Balearic Islands, Spain. Filled with the <strong>enthusiasm</strong> to reach new projects and challenges.
			</h2>
			<div class="flex flex-row flex-wrap md:gap-x-4 gap-x-3">
				<Button class="md:mr-1 mr-0 md:text-sm text-xs" href="/cv/davmoreno_cv_en.pdf">Download CV</Button>
				<SocialButton link="https://github.com/Dayv1dDev">
					<GithubIcon class="md:size-5 size-4" />
				</SocialButton>
				<SocialButton link="https://www.linkedin.com/in/davmoreno">
					<LinkedInIcon class="md:size-5 size-4" />
				</SocialButton>
				<SocialButton 
					class="flex gap-x-1 md:text-sm text-xs" 
					link="mailto:davidmorecam@gmail.com"
				>
					<EmailIcon class="md:size-5 size-4" />
					<span class="sm:inline hidden">Contact me</span>
				</SocialButton>
			</div>
		</Section>
		<!-- EXPERIENCE -->
		<Section id="experience" class="mb-20">
			<h2 class="flex items-center gap-x-2 sm:text-3xl text-2xl font-semibold mb-4">
				<svg class="size-7" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 9a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-9z" /><path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2" /></svg>
				<span>Experience</span>
			</h2>
			<Experience />
		</Section>

		<!-- EDUCATION -->
		<Section class="mb-20">
			<h2 class="flex items-center gap-x-2 sm:text-3xl text-2xl font-semibold mb-4">
				<svg class="size-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.3"> <path d="M5 4m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z"></path> <path d="M9 4m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z"></path> <path d="M5 8h4"></path> <path d="M9 16h4"></path> <path d="M13.803 4.56l2.184 -.53c.562 -.135 1.133 .19 1.282 .732l3.695 13.418a1.02 1.02 0 0 1 -.634 1.219l-.133 .041l-2.184 .53c-.562 .135 -1.133 -.19 -1.282 -.732l-3.695 -13.418a1.02 1.02 0 0 1 .634 -1.219l.133 -.041z"></path> <path d="M14 9l4 -1"></path> <path d="M16 16l3.923 -.98"></path> </svg> 
				<span>Education</span>
			</h2>
			<Education />
		</Section>

		<!-- PROJECTS -->
		<Section id="projects" class="mb-20">
			<h2 class="flex items-center gap-x-2 sm:text-3xl text-2xl font-semibold mb-4">
				<svg class="size-7" xmlns="http://www.w3.org/2000/svg"  width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 15m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v2a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" /><path d="M15 15m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v2a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" /><path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v2a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" /><path d="M6 15v-1a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v1" /><path d="M12 9l0 3" /></svg>
				<span>Projects</span>
			</h2>
			<Projects />
		</Section>

		<!-- STACK -->
		<Section class="mb-20">
			<h2 class="flex items-center gap-x-2 sm:text-3xl text-2xl font-semibold mb-4">
				<svg class="size-7" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 8l-4 4l4 4" /><path d="M17 8l4 4l-4 4" /><path d="M14 4l-4 16" /></svg>
				<span>Stack</span>
			</h2>
			<Stack />
	    </Section>

		<!-- ABOUT -->
		<Section id="about">
			<h2 class="flex items-center gap-x-2 sm:text-3xl text-2xl font-semibold mb-4">
				<svg class="size-7" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4" /><path d="M15 19l2 2l4 -4" /></svg>
				<span>About me</span>
			</h2>
			<About />
		</Section>
	</main>
</Layout>