<header class="flex justify-center items-center py-5 w-full mx-auto md:w-[900px]">
    <nav class="flex items-center justify-center text-sm md:text-base font-medium w-96 md:w-auto gap-x-1 md:gap-x-8 py-2 px-7 rounded-md bg-gradient-to-br from-purple-600 to-blue-500">
        <a href="#">Home</a>
        <a href="#about">About</a>
        <a href="#projects">Projects</a>
        <a href="#skills">Skills</a>
        <a href="#contact">Contact</a>
    </nav>
</header>

<style>
    nav {
        box-shadow: 0 0 10px #050505;
    }
    a {
        padding: 5px 10px;
        transition: all .5s;
        border-radius: 10px;
    }
    a:hover {
        background-color: #444;
    }
</style>