<nav class="flex flex-row justify-between bg-transparent pb-5">
    <h1 class="text-[#eee] text-2xl font-bold">
        Dayv1dDev 
        <span class="text-[#4c2882] text-4xl">{'</>'}</span>
    <h1/>
    <div class="mt-5 bg-slate-500 p-5 rounded-s-lg">
        <ul class="list-none text-[#eee]">
            <li><a href="#">Home</a></li>
            <li><a href="#">About me</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Skills</a></li>
            <li><a href="#">Education</a></li>
        </ul>
    </div>
</nav>

<style>
    li {
        display: inline;
    }
</style>