<nav class="flex flex-row justify-between bg-transparent pb-5 items-center fixed w-full">
    <div id="left-div" class="mt-5 p-5 rounded-e-lg w-auto">
        <h1 class="text-[#ffff7f] text-3xl font-medium">
            {'<'} 
            <span class="text-[#eee] text-2xl">Dayv1d</span>
            {'/>'}
        <h1/>
    </div>
    <div id="right-div" class="mt-5 p-5 rounded-s-lg w-auto font-semibold">
        <ul class="list-none flex gap-6">
            <li><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
</nav>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
    h1 {
        font-family: "Anta", sans-serif;
    }
    li {
        display: inline;
    }
    div {
        border-width: 1px;
        background-color: crimson;
    }
    #left-div {
        border-left-width: 0;
    }
    #right-div {
        border-right-width: 0;
    }
    /* 
        #00ffa1 
        #00cdff
        #4f1bdc
        #1e2252
        #3246ff67

        Astro combination
        #3245ff
        #b845ed
    */
</style>