<nav class="flex flex-row justify-between">
    <span>

    </span>
    <ul class="list-none text-[#eee]">
        <li><a href="#">Home</a></li>
        <li><a href="#">About me</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Skills</a></li>
        <li><a href="#">Education</a></li>
    </ul>
</nav>

<style>
    li {
        display: inline;
    }
</style>