---
import Header from '../components/Header.astro'
import '@fontsource-variable/inter';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="absolute top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_40%_40%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
		<!-- <div class="absolute inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#111_40%,#9c90e8_100%)]"></div>  -->
		<Header />
		<slot />
	</body>
</html>
<style is:global>
	:root {

	}
	html {
		font-family: 'Inter Variable', sans-serif;
		color: #eee;
		/* scroll-behavior: smooth; */
	}
	body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: #111;
		/* #3245ff */
	}
</style>
